/* src/App.css */
.App {
  text-align: center;
  margin: 20px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}
#card{
  display: flex;
  align-items: center;
  justify-content: center;
}